### TASK 1-->Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import pandas as pd
import numpy as np


np.random.seed(42)


data = np.random.randn(4, 4)

df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])


print(df)

   Feature 1  Feature 2  Feature 3  Feature 4
0   0.496714  -0.138264   0.647689   1.523030
1  -0.234153  -0.234137   1.579213   0.767435
2  -0.469474   0.542560  -0.463418  -0.465730
3   0.241962  -1.913280  -1.724918  -0.562288

### TASK 2-->Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df.columns=['Random Value 1','Random Value 2','Random Value 3','Random Value 4']
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.496714       -0.138264        0.647689        1.523030
1       -0.234153       -0.234137        1.579213        0.767435
2       -0.469474        0.542560       -0.463418       -0.465730
3        0.241962       -1.913280       -1.724918       -0.562288

### TASK 3 -->Find the descriptive statistics of the 'df' dataframe.

In [ ]:
df.describe(include='all')

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.008762       -0.435780        0.009641        0.315612
std          0.439772        1.043924        1.426317        1.007175
min         -0.469474       -1.913280       -1.724918       -0.562288
25%         -0.292984       -0.653923       -0.778793       -0.489869
50%          0.003904       -0.186201        0.092135        0.150852
75%          0.305650        0.031942        0.880570        0.956334
max          0.496714        0.542560        1.579213        1.523030

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random Value 1  4 non-null      float64
 1   Random Value 2  4 non-null      float64
 2   Random Value 3  4 non-null      float64
 3   Random Value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

### TASK 4--> Check for the null values in 'df' and find the data type of the columns.

In [ ]:
df.isnull()

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
df['Random Value 1'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4 entries, 0 to 3
Series name: Random Value 1
Non-Null Count  Dtype
--------------  -----
4 non-null      float64
dtypes: float64(1)
memory usage: 160.0 bytes

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random Value 1  4 non-null      float64
 1   Random Value 2  4 non-null      float64
 2   Random Value 3  4 non-null      float64
 3   Random Value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

### Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [ ]:
df.loc[0:3,'Random Value 2':'Random Value 3']

   Random Value 2  Random Value 3
0       -0.138264        0.647689
1       -0.234137        1.579213
2        0.542560       -0.463418
3       -1.913280       -1.724918